@font-face{
    font-family: "Alagard";
    src: url("../static/alagard.ttf")
    }

.page {
    background-image: 
        url("../static/images/layered_background/6.png"),
        url("../static/images/layered_background/5.png"),
        url("../static/images/layered_background/4.png"),
        url("../static/images/layered_background/3.png"),
        url("../static/images/layered_background/2.png"),
        url("../static/images/layered_background/1.png");
    background-size: contain, contain, contain, contain, contain, cover;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: bottom center, bottom center, bottom center, bottom center, bottom center, center;
    position: relative;
}

.logout-button {

    font-family: "Alagard";
    display: inline-block;
    padding: 8px 16px;
    margin: 10px;
    background-color: #e74c3c;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.logout-button:hover {
        font-family: "Micro 5";
  
    background-color: #c0392b;
}

.user-panel {
    font-family: "Alagard";
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #f5f5f5;
    padding: 15px 20px;
    border-bottom-left-radius:8px;
    border-bottom-right-radius:8px;
    font-family: Arial, sans-serif;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    flex-wrap: wrap;
}

.user-info {
    font-family: "Alagard";
    font-size: 15px;
    color: #333;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.user-balance {
    font-family: "Alagard";
    font-weight: bold;
    font-size: 17px;
    color: #2c3e50;
}


/* .page {
    background-image: url("../static/images/layered_background/1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
} */