{% extends "test.html" %}
{% block chat %}
    {% if _chat %}
        {% for ch in _chat %}
            <form action="/" method="POST">
            <p>{{ch['forchat']}}<input id="whichchat" type="submit" name="whichchat" value="{{ch['chatid']}}" placeholder="{{ch['chatid']}}"></p>
            </form>
        {% endfor %}
        {% if conversation %}
            <div class='chat-respond-box'>
                {% for con in conversation %}
                <p>Sent by: {{con["username1"]}}</p>
                {% if con['comment_image']%}
                <p>{{con['comment_image']}}</p>
                {% endif %}
                <p>{{con['conversation']}}</p>
                <p class='conversation-datetime'>{{con['comment_date']}}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% else %}
        <p>No chats</p>
    {% endif %}
    <form action="/" method="POST">
    <textarea id="response" name="response" rows="5" cols="70"></textarea>
        <p><input type="submit" name="submit" placeholder="Respond"></p>
    </form>
{% endblock %}

