{% extends "test.html" %}
{% block review %}
{% if comments %}
{% for comment in comments %}
<div>Review by: {{comment['from_user']}}</div>
<div>Rating: {{comment['rating']}}/5</div>
<div>{{comment['statement']}}</div>
<div>{{comment['review_image']}}</div>
<div>{{comment['review_date']}}</div>
{% endfor %}
{% else %}
<P>No reviews.</P>
{% endif %}
<form action="/reviews/{{item_id}}" method="POST">
    <div><input type="number" name="rating">/5</div>
    <div><textarea name="review" rows="4" cols="50"></textarea></div>
    <div><input type="submit" name="submit"></div>
</form>
{% endblock %}